html, body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

:root {
    --green: #6fb05c;
    --background: white;
    --border: #ececec;
    --tile-color: #ececec;
    --tile-selected: rgb(169, 118, 218);
}

h1{
    margin-top: 50px;
}

#gameAndAds {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--border);
}

#gameArea {
    background-color: var(--background);
    height: 100%;
    width: 728px;
}

#chainDisplay {
    max-height: 650px;
    overflow-y: auto;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word {
    margin-top: 10px;
    display: grid;
    width: 300px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.letter {
    width: 2em;
    height: 2em;
    opacity: 0.4;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.letter.correct {
    color: var(--green);
}

.word.current .letter {
    background-color: var(--tile-color);
    opacity: 1;
}

.word.current .letter.correct {
    background-color: var(--green);
    color: rgb(255, 255, 255);
}

.word.current .letter:hover {
    cursor: pointer;
}

.word.current .letter.selected {
    background-color: var(--tile-selected);
    color: white;
}

#output .letter {
    opacity: 1;
}

#chainDisplay .word:last-child .letter, #chainDisplay .word:first-child .letter {
    opacity: 1;
}

button, input {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#guessInput {
    margin-top: 20px;
}

#confetti-canvas{
    position: absolute;
    top: 0;
    right: 0;
}

#minMovesDisplay {
    margin-top: 40px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px 40px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
    text-align: center;
    border-radius: 0.5rem;
}

.modal-content h2 {
    margin-top: 0.5rem;
}

button {
    border-radius: 0.5rem;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#shareButton {
    background-color: var(--green);
    color: white;
    border: none;
}

#closeModalButton {
    background-color: var(--tile-color);
    color: black;
    border: none;
}

#hiddenInput{
    top: 0;
    left: 0;
}

@keyframes shake {
    0% { margin-left: 0; }
    25% { margin-left: -5px; }
    35% { background-color: rgb(226, 66, 66); color: white }
    50% { margin-left: 5px; }
    65% { background-color: rgb(226, 66, 66); color: white }
    75% { margin-left: -5px; }
    100% { margin-left: 0; }
}

 @keyframes slideDown {
    0% { transform: translateY(-70px); }
    100% { transform: translateY(0px); }
}

@keyframes correctLetter1 {
    0% { 
        transform: translateY(-70px);
        
    }
    25% { transform: translateY(0px);}
    26% { scale: 1; }
    35% {
        scale: 1.1;
    }
    45% {scale: 1}
} 
@keyframes correctLetter2 {
    0% { 
        transform: translateY(-70px);
        
    }
    25% { transform: translateY(0px);}
    45% { scale: 1; }
    55% {
        scale: 1.1;
    }
    65% {scale: 1}
} 
@keyframes correctLetter3 {
    0% { 
        transform: translateY(-70px);
        
    }
    25% { transform: translateY(0px);}
    65% { scale: 1; }
    75% {
        scale: 1.1;
    }
    85% {scale: 1}
} 
@keyframes correctLetter4 {
    0% { 
        transform: translateY(-70px);
        
    }
    25% { transform: translateY(0px);}
    85% { scale: 1; }
    95% {
        scale: 1.1;
    }
    100% {scale: 1}
} 

.letter.shake {
    animation: shake 0.5s;
}

.word.current .letter, #chainDisplay .word:last-child .letter {
    animation: slideDown 0.2s ease-in-out 0s 1;
}


#chainDisplay .word.current .letter.correct:nth-child(1) {
    animation: correctLetter1 0.7s ease-in-out 0s 1
}
#chainDisplay .word.current .letter.correct:nth-child(2) {
    animation: correctLetter2 0.7s ease-in-out 0s 1
}
#chainDisplay .word.current .letter.correct:nth-child(3) {
    animation: correctLetter3 0.7s ease-in-out 0s 1
}
#chainDisplay .word.current .letter.correct:nth-child(4) {
    animation: correctLetter4 0.7s ease-in-out 0s 1
}


/* .letter.fade-red {
    animation: fadeRed 0.5s;
} */